// colors
$blue: #6090ff;
$darkBlue: #301878;
$lightPurple: #9078ff;
$purple: #9060f0;
$deepPurple: #7848c0;
$cyan: #60d8d8;
$mageta: #f09090;
$deepMageta: #d86078;
$white: #ffffff;
$black: #272829;

// fonts
$btnFontFamily: "Fredoka One", cursive;
$generalFontFamily: "IBM Plex Sans Thai Looped", sans-serif;
$codeFontFamily: "Source Code Pro", monospace;
